/*
Universal styling
*/

body {
    background-color: #FBFBFB;
    margin: 0;
}

.page_container {
    width: 600px;
    margin: 0 auto;
}

.container {
    margin: 5vh auto;
    align-items: center;
    align-content: center;
    align-self: center;
    min-width: 100%;
    clear: both;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: #ffb857;
    font-size: 7.5vh;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    padding-top: 65px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    text-align: justify;
    margin: 0 auto;
}

.show {
    display: block;
}

#vertically-centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-centre {
  max-width: 50%;
}

.div-top {
  align-self: flex-start;
}

.div-bottom {
  align-self: flex-end;
}

#index-h1 {
    padding: 4vh 0 3vh 0;
    word-spacing: 1.2vh;
}

/*
Landing page styling
*/
.container-landing {
    z-index: -1;
}

.landing-text {
}

#backgroundGif {
    position: relative;
    width: 100%;
    z-index: -1;
}

.container-landing h2 {
    font-weight: bold;
    color: white;
    letter-spacing: 1.2vh;
    position: absolute;
    top: 50vh;
    left: 0;
    width: 100%;
}

#brisbane {
    width: 640px;
    padding-top: 10%;
    padding-bottom: 3%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
About section styling
*/
#tagline {
    text-align: center;
    padding-bottom: 2.8vh;
    font-weight: bold;
}
.container-about {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: whitesmoke;
    clear: both;
}

.container-about h1 {
    color: #ffb857;
}

.container-about p {
    color: black;
    width: 65%;

}


.video-container {
    position: relative;
    padding-bottom: 32.25%;
    height: 0;
    overflow: hidden;
    width: 64%;
    margin: 0 auto;
}

.video-container iframe {
    position: absolute;
    padding-top: 3%;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}

/*
CTA section styling
*/

.container-CTA {
    background-color: #61cec2;
    height: 220px;
}

.container-CTA h1 {
    letter-spacing: 1px;
    width: 600px;
    margin: auto;
    font-size: 32px;
    color: #1c1c1c;
}

form {
    width: 600px;
    margin: auto;
}

input {
    display: inline;
    background-color: rgba(245, 245, 245, 0.72);
    height: 50px;
    margin: 20px 0 60px 0;
    display: block;
    float: left;
}

input[type=email] {
    color: black;
    width: 400px;
    padding: 10px;
    letter-spacing: 3px;
    font-size: 12px;
    background-color: rgba(245, 245, 245, 0.43);
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

input[type=submit] {
    width: 200px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: black;
    color: white;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

input[type=submit]:hover {
    color: black;
    background-color: #EB9C35;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

/*DNA styling*/
.container-brisbaneDNA h1{
    color: #ff6e78;
}
.container-brisbaneDNA p{
    width: 65%;
    margin: auto;
    text-align: justify;
    color: black;
}
/*Meet the 100 page*/
.dna-profiles{
    margin: 5vh auto;
    width:75%;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.dna-profiles img{
    width: 50px;
    height: 50px;
    margin: 4px;
}
#individual-profile{
    display: flex;
    justify-content: center;
}
.profile-container{
    width: 80%;
    margin: 0 auto;
}
.profile-container h1{
    text-align: center;
    margin: 0;
    padding: 0;
}
#profile-toppane>h3{
    text-align: left;
    margin: 0;
    padding: 0;
}
#center-pane{
    display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
    justify-content: space-between;
}
#profile-leftpane{
    width:20%;
}
#profile-leftpane>img{
    width:160px;
    height: auto;
}
#profile-rightpane{
    width:80%;
    
}
#profile-rightpane>#top{
    display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
    align-items: baseline;
}
#top{
}
#profile-rightpane p{
    margin: 0;
    padding: 0;
    width: 100%; 
}
/*
Map section styling
*/

.container-map {
    background-color: #ea9c35;
    height: 100%;
    padding: 60px 0;
}

.container-map h1 {
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

.container-map a {
    text-decoration: none;
    color: whitesmoke;
}

#map-image {
    width: 800px;
    margin-top: 15vh;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Quotes Slider sectiong styling*/

.container-quote {
    width: 100%;
}

.carousel-caption p {
    font-size: 28px;
    font-style: italic;
    text-shadow: none;
}

.carousel-caption h3 {
    text-transform: none;
    font-weight: bold;
    font-size: 20px;
    text-shadow: none;
}



.carousel-inner > .item > a > {
    width: 90%;
    margin: auto;
}

.item {
    height: 360px;
    background: black;
}


/*
Brisbane DNA section styling
*/
#DNA {
    font-weight: 700;
}

.DNA-btn-container {
    display: flex;
    justify-content: center;
}

.DNA-btns {
    font-family: 'Raleway', sans-serif;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #FBFBFB;
    margin: 4vh 3vh 0 3vh;
}

#DNA-btn-1 {
    border: solid 1px #ffb857;
    color: #ffb857;
}

#DNA-btn-2 {
    border: solid 1px #61cec2;
    color: #61cec2;
}
/* Quiz.html styling */
#takeQuizBtn {
    font-family: 'Raleway', sans-serif;
    background-color: #FBFBFB;
    border: solid 1px #5ab7a6;
    color: #5ab7a6;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#quiz_btn {
    padding-top: 15px;
    text-align: center;
}

#me {
    width: 30%;
    height: 100%;
    background-color: #AC688D;
    display: inline-block;
    overflow: hidden;
}

#my_life {
    width: 30%;
    height: 100%;
    overflow: hidden;
    background-color: #2C90AE;
    display: inline-block;
}

#my_world {
    width: 30%;
    height: 100%;
    overflow: hidden;
    background-color: #5AB7A6;
    display: inline-block;
}

#quiz_choice {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 18px;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    padding-left: 20px;
}

h3 {
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    padding-top: 50px;
    text-transform: uppercase;
}

#start_btn {

	font-family: 'Raleway', sans-serif;
	background-color: #AC688D;
	border: solid 1px white;
	color: white;
	padding: 10px 30px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}

#start_btn2 {
	font-family: 'Raleway', sans-serif;
	background-color: #2C90AE;
	border: solid 1px white;
	color: white;
	padding: 10px 30px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}

#start_btn3 {
	font-family: 'Raleway', sans-serif;
	background-color: #5AB7A6;
	border: solid 1px white;
	color: white;
	padding: 10px 30px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}

#button_style {
    text-align: center;
    padding-top: 90px;
}

#button_style1 {
    text-align: center;
    padding-top: 50px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 7.5vh;
    text-transform: uppercase;
    text-align: center;
}

.container ul {
    list-style: none;
}

.container li {
    display: inline-block;
    width: 100px;
    color: #2C90AE;
    border: 1px solid #2C90AE;
    text-align: center;
    padding: 15px 0;
}

.container li:hover {
    color: #AC688D;
    border: 1px solid #AC688D;
}

.container input {
    visibility: hidden;
    display: none;
}

.container label {
    cursor: pointer;
    text-align: center;
}

#meNext {
    font-family: 'Raleway', sans-serif;
    background-color: #FBFBFB;
    border: solid 1px #AC688D;
    color: #AC688D;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

#meSubmit {
    font-family: 'Raleway', sans-serif;
    background-color: #FBFBFB;
    border: solid 1px #AC688D;
    color: #AC688D;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

/*Contact form styling*/
.container-contact h1{
    color: #8cd18d;
}

#contactIMG {
    width: 45px;
    height: auto;
    padding-top: 40px;
    padding-bottom: 10px;
}

table {
    width: 600px;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 40px;
}

td {
    font-size: 12px;
    padding-top: 5px;
    text-align: center;
}

.container-contactInformation {
    margin-top: -20px;
}

.container-contactInformation a {
    color: black;
}

.container-contactInformation a:hover {
    color: #ea9c35;
}

.container-contact {
    background-color: whitesmoke;
    height: 710px;
}

.container-contact h1 {
    padding-bottom: 30px;
}

.container-contactform input {
    margin: 0;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    padding: 10px;
    letter-spacing: 1px;
    font-size: 12px;
    color: black;
    letter-spacing: 2px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

.container-contactform input[type=email] {
    border-left: none;
    width: 50%;
    float: left;
}

.container-contactform input[type=name] {
    width: 50%;
    float: left;
}

.container-contactform textarea {
    resize: none;
    width: 100%;
    height: 150px;
    margin: 0;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    padding: 10px;
    letter-spacing: 1px;
    font-size: 12px;
    color: black;
    letter-spacing: 2px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-top: none;
    background-color: whitesmoke;
}

.container-contactform input[type=submit] {
    color: white;
    border: none;
    width: 100%;
    margin-top: -10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
}


/*
INDIVIDUAL EXHIBITION PAGE STYLING
*/
/*
Sticky/Universal elements styling
*/
/*
Exhibiton back button
*/
.exhibition-body h1 {
    padding: 2% 0 0 0;
    margin: 0;
}

#blurb {
    text-align: center;
    font-size: 3vh;
    color: #d1d1d1;
    margin: 1.5em 0;
}

#author {
    color: #000;
    font-style: normal;
    font-weight: 700;
}

#location {
    font-style: normal;
}

.text {
    float: left;
    width: 43%;
}

.text p {
    text-align: justify;
    color: #d1d1d1;
    line-height: 25px;
}

.quote {
    padding: 450px 0 0 0;
    float: right;
    width: 43%;
}

.quote p {
    text-align: justify;
    font-style: italic;
    color: #d1d1d1;
    line-height: 25px;
}

.clearfix::after {
    content: " ";
    display:block;
    height: 0;
    clear: both;
}
/*
city styling
*/

.container-country {
    background-color: #4e4949;
    padding: 60px;
}

.country-row1,
.country-row2 {
    width: 100%;
}

/*
The birth of a city styling
*/

.container-birth {
    background-color: #FBFBFB;
    padding: 60px;
}

.container-birth p, .container-birth #blurb {
    color: #4e4949;
}

/*
Meanjin to Brisbane styling
*/

.container-meanjin {
    background-color: #ad2222;
    padding: 60px;
}

.container-meanjin h1 {
    color: black;
}

/*
Tram days styling
*/

.container-tramdays {
    background-color: #146f37;
    padding: 60px;
}

.container-tramdays h1 {
    color: black;
}


/*
Brisbane River Floods styling
*/

.container-floods {
    background-color: #1b588d;
    padding: 60px;
}

.container-floods h1 {
    color: black;
}

/*
Place styling
*/

.container-place {
    background-color: #4e4949;
    padding: 60px;
}

/*
A day in the life of Brisbane styling
*/

.container-life {
    background-color: #FBFBFB;
    padding: 60px;
}

.container-life p, .container-life #blurb {
    color: #4e4949;
}


/* TOP NAV STYLING - mostly from W3S*/
.logo img {
    width: 100px;
    margin: 1vh 0 0 5vh;
}

.topnav {
    background-color: rgba(0, 0, 0, 0.61);
    overflow: hidden;
    padding-right: 60px;
    font-family: 'Raleway', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav a {
    text-transform: uppercase;
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.topnav a:hover {
    background-color: #eb9c35;
    color: #e7e7e7;
}

#logoLink {
    float:left;
    padding:0px;
}

.topnav .icon {
    display: none;
}

#btn-back {
    position: fixed;
    float: left;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

#btn-back>a:visited {
    text-decoration: none;
}

.button {
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    color: #eb9c35;
}

.backButton {
    background-color: transparent;
}

.backButton:hover {
    background-color: #eb9c35;
    color: #e7e7e7;
}

@media screen and (max-width: 600px) {
    .topnav a:not(: first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.topnav.scrolled {
    z-index: 1;
    background-color: rgba(18, 18, 18, 0.79) !important;
    transition: background-color 800ms linear;
}

.topnav.scrolled a {
    color: #f9f9f9;
    transition: color 800ms linear;
}

.dropdown {
    position:relative;
    display:inline-block;
    float:right;

}

.dropdown-content {
    display:none;
    z-index:3;
    text-align:center;
    width:170px;
    top: 50px;
    right: 60px;
    background-color: #FFFFFF;
    position: fixed;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.61);
}

.dropdown-content a {
    text-transform: uppercase;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #eb9c35;
    color: #e7e7e7;
}

/*.dropdown:hover .dropdown-content {
    display:block;
}*/


